.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 800px;
  max-height: 600px;
  z-index: 10;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
.visible {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;

  .leftAndRight {
    display: flex;
    flex-direction: row;
    padding: 20px;

    .right {
        display: flex;
        flex-wrap: wrap;
    }

    /* .left {
        
    } */
  }
}
.notVisible {
  display: none;
}
.popup.visible {
    display: flex;
    flex-direction: row;
    
}

img {
    width: 200px;
}