body {
  margin: 0;
  font-family:Georgia, Times, 'Times New Roman', serif;
}

button {
  background-color: #282c34;
  color: white;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.5s ease;
}

button:hover {
  background-color: #777;
  color: white;
}
